<h1 class="text-center">Add Words</h1>
<div class="container-fluid">
<li class="list-group-item">
    <img class="center-block img-responsive" style="max-height:300px" src="https://media.giphy.com/media/l0HlRnAWXxn0MhKLK/giphy.gif
"></li>
</div>
<h3 class="text-center">Add the word here:</h3>

<div class="text-center">
    <form action="/words" method="post">
        <label for="wordinput">Word Spelling:</label>
        <input id="wordinput" name="wordinput" type="text">
        <button class="btn btn-info btn-cons" type="submit">Add Word</button>
    </form>
</div>

<form action="/">
    <button class="btn btn-primary center-block">
        Return to Main Page
    </button>
</form>
